@import '../../utils/variables.scss';

.app-profile {
  background-color: $colorTheme;
  padding: $spaceNormal;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $colorWhite;
  box-shadow: $shadowStrong;
  min-height: 100vh;

  .about {
    flex: 1;

    .image {
      margin-top: $spaceNormal;
      display: flex;
      justify-content: center;

      img {
        border-radius: 50%;
        height: 10rem;
        width: auto;
        border: 1px solid white;
      }
    }

    .bio {
      text-align: center;

      .title {
        font-size: $font32;
        margin-bottom: $spaceNormal;
      }

      .role {
        color: $colorGray;
        font-size: $font24;
      }

      .description {
        margin-top: $spaceNormal;
      }

      .contact {
        color: $colorGray;
        margin-top: $spaceNormal;

        ul {
          display: flex;
          list-style-type: none;
          flex-direction: column;

          li {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              text-decoration: none;
              color: $colorGray;

              &:after {
                display: inline-block;
                content: "";
                border-bottom: 2px solid $colorGray;
                width: 100%;
                transform: translateY(-1rem);
              }
            }
          }

        }
      }
    }
  }

  .footer {
    width: 100%;
  }

  .links {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &::before {
      display: inline-block;
      content: "";
      border-top: 2px solid $colorGray;
      width: 100%;
      transform: translateY(-1rem);
    }

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;

      li:not(:first-child) {
        margin-left: 1rem;
      }
    }


  }

  >div {
    a {
      text-decoration: none;
      color: $colorWhite;
    }


  }
}