.app-index {
  display: grid;
  grid-template-columns: 35vw 2fr;

  .sidebar {
    position: fixed;
    width: 35vw;
  }

  .main {
    grid-column-start: 2;
  }

  @media screen and (max-width: 60rem) {
    display: flex;
    flex-direction: column;

    .sidebar {
      position: relative;
      width: auto;
    }
  }
}