@import '../../utils/variables.scss';

.app-header {
  background-color: $colorBlack;
  padding: $spaceNormal;

  >div {
    max-width: $contentWidthMin;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: $colorWhite;
    }

    ul {
      list-style-type: none;
      display: flex;
      margin: 0;

      li {
        margin-left: 1rem;

        &:first-child {
          margin-left: 0rem;
        }
      }
    }
  }
}