$colorBlack: #000000;
$colorWhite: #ffffff;
$colorBody: #f2f2f2;
$colorGray: #aba4a4;

$font14: 14px;
$font16: 16px;
$font24: 24px;
$font32: 32px;

$spaceNormal: 1rem;


$lineHeightSmall: 1.2rem;
$lineHeightMedium: 1.8rem;
$lineHeightLarge: 2rem;

$contentWidthMax: 66rem;
$contentWidthMin: 42rem;

$shadowNormal: 0 2px 20px rgba(0, 0, 0, 0.05);
$shadowStrong: 0 2px 20px rgba(0, 0, 0, 0.1);
$shadowLarge: 0 2px 20px rgba(0, 0, 0, 0.25);

$fontBold: 600;
$fontNormal: 400;
$fontExtraBold: 800;