@import '../../utils/variables.scss';

.app-experiences {
  padding: $spaceNormal;

  div {
    max-width: $contentWidthMin;
    margin: 0 auto;
    color: $colorBlack;

    a {
      text-decoration: none;
      color: $colorBlack;
    }

    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: $spaceNormal;
      margin: 0;

      li {
        .logo {
          padding: $spaceNormal;
          background-color: $colorWhite;
          border-radius: 5px;
          box-shadow: $shadowStrong;
          transition: 0.5s all;
          cursor: pointer;

          &:hover {
            box-shadow: $shadowLarge;
            transform: translateY(-5px);
          }
        }

        .title {
          margin-top: $spaceNormal;
          font-weight: $fontBold,
        }

        .description {
          color: $colorGray;
        }

      }
    }
  }
}